*{
    margin:0px;
    padding:0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 110%;
    font-family: 'Karla', sans-serif;
}

body{
    font-family: 'Karla', sans-serif;
    background-color: #F5F5F5;
    background-color: rgb(237, 244, 241);
}

.app-container {
    display: block;  
    width: 100%;
    min-height: 100%;
}

.top-container {
    margin: auto;
    height: auto;
}

.middle-container {
    position: absolute;
    display: block;
    align-items: center;
    width: 100%;
    height: max-content;
    top: 25%;
    bottom: 40%; 
}

.bottom-container {
    position: absolute;
    height: auto;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: rgb(24,118,209);
    color: white;
}

.game-container {
    width: 50%;
    display: block;
    margin: auto;
}

.game {
    margin: auto;
    padding: 20px;
    justify-content: center;
    align-items: center;  
    width: 40%;  
    min-width: 150px;
}

.game-won {
    margin: auto;
    padding: 20px;
    align-items: center;
    animation: fade 1.5s ease-in-out;
    color: green;
    width: 40%;
    min-width: 150px;
}

.game-question-bar {
    text-align: left;
    /* width: 25%; */
    margin: auto;
    padding: 10px;
    padding-left: 15px;
}

.math-form {
    /* width: 25%; */
    min-width: 100px;
    padding: 10px;
    margin: auto;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.settings-toggle {
    margin: 1rem;
    display: inline-flex;
    
}

.math-picture {
    width: 50px;
    height: auto;
    margin: 20px auto 20px auto;
}

.settings-header {
    margin: 0 auto 20px 20px;
}

.difficulty-button-container {
    width: 10rem;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1rem auto 1rem auto;
}

.score-text {
    width: 50px;
    margin: auto;
    text-align: center;
    font-size: 90%;
}
