*{
    margin:0px;
    padding:0px;
    border-radius: 0px;
    box-sizing: border-box;
    font-size: 110%;
    font-family: 'Karla', sans-serif;
}

body{
    font-family: 'Karla', sans-serif;
}

main {
    background-color: #F5F5F5;
    border-radius: 5px;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top-app-bar {
    display: flex;
    justify-content: space-between;
}

.mid-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 50%;
}

.game {
    display: inline-block;
    justify-content: center;
    align-items: center;    
}

.game-won {
    display: inline-block;
    justify-content: center;
    align-items: center;
    animation: fade 1s ease-in-out;
    color: green;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.game-question-bar {
    text-align: left;
    width: 100%;
    margin: 1rem;   
}

.math-form-answer {
    margin: 1rem;
    background-color: #ffffff;
}

.settings-toggle {
    margin: 1rem;
}

.settings-header {
    margin: 1rem;
}